
body {
    margin: 0;


    width: 100vw;
    height: 100vh;
    background: #F4F2EA;

}


#background-video {
    
  width: 50%;
  height: 100%;
   
}


@media only screen and (max-width: 480px) {
    .divot-heading {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column; 
        align-items: center;
        justify-content: center;
    
        text-align: center;
     
        }
    
        .logo {
    
            margin-top: 260px;
            margin-top: 50px;
            font-family: 'Hippie Mojo';
            font-style: normal;
            font-weight: 400;
            font-size: 200px;
            text-align: center;
            color: #A97A50;
        }
    
        .slogan {
            margin-top: 62px;
            margin-top: 30px;
            font-family: 'ITC Souvenir Std';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 41px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #A97A50;
            
        }
    
    a {
            text-decoration: none;
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 41px;
            text-align: center;
            color: #B7B1A7;
            margin-top: 3rem;
        }
    






    
}





@media screen and (min-width: 480px) {
 
    divot-heading {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column; 
        align-items: center;
        justify-content: center;
    
        text-align: center;
   
     
        }
    
        .logo {
    
            margin-top: 260px;
            margin-top: 100px;
            font-family: 'Hippie Mojo';
            font-style: normal;
            font-weight: 400;
            font-size: 300px;
            line-height: 334px;
            text-align: center;
            color: #A97A50;
        }
    
        .slogan {
            margin-top: 62px;
            margin-top: 30px;
            font-family: 'ITC Souvenir Std';
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 41px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #A97A50;
            
        }
    
  .sign-up {

            text-decoration: none;
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 300;
            font-size: 34px;
            color: #B7B1A7;
            text-align: center;
            margin-top: 4rem;
        }
  }






 


    @font-face {
        font-family: "hippie-mojo";
        src: url("/fonts/hippie-mojo/hippie-mojo.woff") format("woff2"),
          /* Super Modern Browsers */
            url("/fonts/hippie-mojo/hippie-mojo.woff") format("woff");
        font-weight: 400;
        font-style: normal;
      }

      
      @font-face {
        font-family: "itc-souvenir";
        src: url("/fonts/itc-souvenir/itc-souvenir.woff2") format("woff2"),
          /* Super Modern Browsers */
            url("/fonts/itc-souvenir/itc-souvenir.woff") format("woff");
        font-weight: 400;
        font-style: normal;
      }