.App {
  margin: 0;
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: "hippie-mojo";
  src: url("./assets/fonts/hippie-mojo/HippieMojo.otf"); 
  src: url("./assets/fonts/hippie-mojo/hippie-mojo.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/hippie-mojo/hippie-mojo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "itc-souvenir";
  src: url("./assets/fonts/itc-souvenir/itc-souvenir.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/itc-souvenir/itc-souvenir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

